; Generated candidate: smoke
Throat.Profile = 1
Throat.Diameter = 40.000
Throat.Angle = 6.000
Coverage.Angle = 58.000
Length = 40.000
OS.k = 0.82000

Term.s = 0.76000
Term.q = 0.99500
Term.n = 5.00000

Morph.TargetShape = 0

Mesh.LengthSegments = 90
Mesh.ThroatResolution = 2.500
Mesh.MouthResolution = 5.000

ABEC.SimType = 1
ABEC.SimProfile = 0
ABEC.f1 = 700.000
ABEC.f2 = 20000.000
ABEC.NumFrequencies = 160
ABEC.Abscissa = 1
ABEC.MeshFrequency = 30000

ABEC.Polars:SPL = {
  MapAngleRange = 0,90,19
  NormAngle = 0
  Distance = 3
  Offset = 45.000
}

Output.ABECProject = 1
Output.STL = 0
Output.MSH = 0

Source.Contours = {
  ; T34B approximate dome + surround source
  ; dome cap radius approx 24.143 mm
  point apex -7.000 0.000 0.5
  point dome_edge 0.000 17.000 0.5
  point surround_mid 0.900 18.500 0.5
  point surround_outer 0.000 20.000 0.5
  cpoint dome_center -17.143 0.000
  cpoint surround_center 0.000 18.500
  arc apex dome_center dome_edge 1.0
  arc dome_edge surround_center surround_mid 0.65
  arc surround_mid surround_center surround_outer 0.30
  line surround_outer WG0 0.0
}
